<include file="__View__/Common/head"/>

<include file="__View__/Common/left"/>
<div class="right">
	<div class="now">
		<div class="now_l"></div>
		<div class="now_m">
			<span class="fl">增加属性</span>
			<!-- <span class="fr fabu"><a href="admin.php?mod=ad&act=add">增加广告</a></span> -->
		</div>
		<div class="now_r"></div>
		<div class="clear"></div>
	</div>
	<form method="post" action="">
	<table width="100%" border="0" cellspacing="0" cellpadding="0" class="wenzhang">
	<tr>
		<td class="bg_f8" align="right">属性名称：</td>
		<td><input type="text" name="title" class="inputall" /></td>
	</tr>
	<tr>
		<td class="bg_f8" align="right">属性值：</td>
		<td>
			<textarea name="value" rows="5" cols="30"></textarea>
		</td>
	</tr>
	<tr>
		<td class="bg_f8" align="right">属性类型：</td>
		<td><input type="radio" name="attr_type" value="0" checked="checked" />&nbsp;属性&nbsp;&nbsp;<input type="radio" name="attr_type" value="1" />&nbsp;规格</td>
	</tr>
	<tr>
		<td class="bg_f8">&nbsp;</td>
		<input type="hidden" name="type_id" value="{$hd.get.tid}" />
		<td colspan="2"><button class="tjbtn" />提交</button></td>
	</tr>
	</table>
	</form>
</div>
	
		<div class="clear"></div>
	</div>
<include file="__View__/Common/foot"/>