* {
  margin: 0;
  padding: 0;
  font-family: arial, "Microsoft YaHei";
  font-size: 12px;
  color: #000;
  line-height: 150%;
}
dl,
ul,
li,
ol {
  list-style: outside none none;
  padding: 0px;
  margin: 0px;
}
form {
  display: inline;
}
input,
textarea,
select {
  vertical-align: middle;
  font-size: 12px;
  color: #333;
  outline: medium none;
}
input {
  border: medium none;
}
.left {
  float: left;
}
.right {
  float: right;
}
.red {
  color: #E01;
}
.relative {
  position: relative;
}
.rgb6 {
  color: #666;
}
.rgbf {
  color: #FFF;
}
.rgb9 {
  color: #999;
}
.top {
  vertical-align: top;
}
.a_eu {
  color: #468fa2;
  text-decoration: underline;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
.clear {
  clear: both;
}
@font-face {
  font-family: 'iconfont';
  src: url('fonts/iconfont.eot');
  src: url('fonts/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('fonts/iconfont.woff') format('woff'), /* chrome、firefox */ url('fonts/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/ url('fonts/iconfont.svg#uxiconfont') format('svg');
  
  /* IE9*/
  /* iOS 4.1- */
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 12px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.head2014 {
  width: 100%;
}
.head2014 .head-top {
  height: 32px;
  border-bottom: 1px solid #ddd;
  background: #f4f4f4;
}
.head2014 .head-top .screen {
  width: 1150px;
  margin: 0 auto;
}
.head2014 .head-top .screen .left {
  float: left;
}
.head2014 .head-top .screen .left ul {
  width: 282px;
  height: 33px;
}
.head2014 .head-top .screen .left ul li {
  float: left;
  line-height: 32px;
  padding: 0 13px;
}
.head2014 .head-top .screen .left ul .cur {
  background: none repeat scroll 0% 0% #FFF;
  border-left: 1px solid #DDD;
  border-right: 1px solid #DDD;
  border-bottom: 1px solid #FFF;
}
.head2014 .head-top .screen .right {
  float: right;
}
.head2014 .head-top .screen .right ul {
  width: 570px;
  height: 33px;
  line-height: 18px;
}
.head2014 .head-top .screen .right ul li.list {
  float: left;
  padding: 0px 1px;
  border-left: 1px solid #F4F4F4;
  border-right: 1px solid #F4F4F4;
}
.head2014 .head-top .screen .right ul li.list .list-a {
  padding: 0px 5px;
  line-height: 32px;
  display: inline-block;
  color: #000;
}
.head2014 .head-top .screen .right ul li.list .list-a .iconfont {
  font-size: 10px;
  margin-left: -1px;
  display: inline-block;
}
.head2014 .head-top .screen .right ul li.list .list-a b {
  line-height: 32px;
}
.head2014 .head-top .screen .right ul li.list .list-a b .red {
  color: #E01;
}
.head2014 .head-top .screen .right ul li.list .login-out {
  color: #069;
}
.head2014 .head-top .screen .right ul li.line-v {
  line-height: 32px;
  padding: 0px;
}
.head2014 .head-top .screen .right ul li.line-v span {
  color: #ddd;
}
.head2014 .head-mid {
  padding: 15px 0px 25px;
  height: 55px;
}
.head2014 .head-mid .screen {
  width: 1150px;
  margin: 0 auto;
}
.head2014 .head-mid .screen .left {
  float: left;
}
.head2014 .head-mid .screen .boys-girls {
  padding-top: 32px;
}
.head2014 .head-mid .screen .boys-girls a {
  font-size: 20px;
  font-weight: bold;
  color: #000;
  line-height: 18px;
}
.head2014 .head-mid .screen .boys-girls a:hover {
  text-decoration: none;
}
.head2014 .head-mid .screen .boys-girls a.cur {
  border-bottom: 2px solid #000;
}
.head2014 .head-mid .screen .boys-girls a.cur b {
  font-size: 16px;
  font-weight: bold;
  line-height: 18px;
}
.head2014 .head-mid .screen .boys-girls span {
  font-size: 16px;
  color: #DDD;
  line-height: 18px;
  padding: 0px 10px;
}
.head2014 .head-mid .screen .boys-girls a.girls {
  color: #F36;
}
.head2014 .head-mid .screen .boys-girls a.girls b {
  font-size: 16px;
  font-weight: bold;
  line-height: 18px;
  color: #F36;
}
.head2014 .head-mid .screen .right {
  float: right;
}
.head2014 .head-mid .screen .right .head-two-dim {
  margin-left: 15px;
}
.head2014 .head-mid .screen .right .nav-input {
  border: 1px solid #CCC;
  padding: 4px 13px;
  height: 22px;
  margin-top: 18px;
}
.head2014 .head-mid .screen .right .nav-input form {
  display: inline;
}
.head2014 .head-mid .screen .right .nav-input form input {
  height: 22px;
  width: 168px;
  line-height: 22px;
  outline: medium none;
  border: 0px none;
}
.head2014 .head-mid .screen .right .nav-input form a {
  text-decoration: none;
  color: #666;
  outline: medium none;
}
.head2014 .head-mid .screen .right .nav-input form .input-button {
  height: 22px;
  line-height: 22px;
  padding-left: 13px;
  border-left: 1px solid #DDD;
}
.head2014 .head-mid .screen .right .nav-input form .iconfont {
  display: inline-block;
  vertical-align: middle;
}
.head2014 .head-mid .screen .center {
  position: absolute;
  left: 50%;
  margin-left: -92px;
  margin-top: 10px;
  text-align: center;
}
.head2014 .head-nav {
  background: none repeat scroll 0% 0% #000;
  width: 100%;
  height: 40px;
}
.head2014 .head-nav .screen {
  width: 1150px;
  margin: 0 auto;
}
.head2014 .head-nav .screen .left {
  float: left;
}
.head2014 .head-nav .screen ul li.first a.a-list {
  margin-left: 0;
}
.head2014 .head-nav .screen ul li a.a-list {
  color: #fff;
  line-height: 40px;
  font-size: 14px;
  display: inline-block;
  margin-right: 43px;
  margin-left: 42px;
}
.head2014 .head-nav .screen ul li a.a-list span {
  color: #fff;
  line-height: 40px;
  font-size: 14px;
  font-family: 微软雅黑;
}
.screen {
  width: 1150px;
  margin: 10px auto 15px;
}
.screen .focus-top2 {
  width: 100%;
  height: 450px;
}
.screen .focus-top2 #bigSlide {
  width: 1150px;
  height: 450px;
  float: left;
  overflow: hidden;
}
.screen .focus-bottom ul {
  margin-top: 6px;
  margin-right: -6px;
  padding: 0 2px;
  height: 54px;
  overflow: hidden;
}
.screen .focus-bottom ul li {
  float: left;
  margin-right: 6px;
}
.screen .dl-index {
  width: 100%;
  margin-top: 20px;
  float: left;
}
.screen .dl-index dt {
  height: 22px;
  border-bottom: 2px solid #000;
  padding-bottom: 10px;
}
.screen .dl-index dt .left {
  float: left;
}
.screen .dl-index dt .title {
  color: #000;
  font-size: 18px;
  line-height: 20px;
  font-weight: bold;
}
.screen .dl-index dt .right {
  float: right;
}
.screen .dl-index dt .keys a {
  color: #000;
  padding: 0 10px;
}
.screen .dl-index dt .keys span {
  color: #eee;
}
.screen .dl-index .hot-brand-new .recommendBox-new {
  width: 1035px;
  height: 180px;
  overflow: hidden;
}
.screen .dl-index .hot-brand-new .recommendBox-new ul {
  margin-right: -2px;
  _margin-right: -4px;
}
.screen .dl-index .hot-brand-new .recommendBox-new ul li {
  float: left;
  width: 115px;
  height: 90px;
}
.screen .dl-index .hot-brand-new .recommendBox-new ul li a {
  text-decoration: none;
  color: #666;
  outline: none;
}
.screen .dl-index .index-unit-1 {
  width: 115px;
  height: 180px;
}
.screen .dl-index .index-unit-1 ul li {
  width: 115px;
  height: 90px;
}
.screen .dl-index .index-unit-1 ul li .btn-page {
  width: 115px;
  height: 90px;
  background: url(../images/btn_page_big.jpg) no-repeat scroll center center transparent;
}
.screen .index-unit-5 {
  width: 958px;
}
.screen .index-unit-5 ul {
  margin-right: -2px;
}
.screen .index-unit-5 ul li {
  float: left;
  margin: 0px 2px -2px 0px;
}
.screen .index-ads {
  width: 190px;
  margin-top: 20px;
}
.screen .index-ads .ads-1 img {
  width: 190px;
  height: 320px;
  margin-bottom: 2px;
}
.screen .dl-index .category-list {
  padding: 8px 0px;
  background: none repeat scroll 0% 0% #F8F8F8;
  width: 190px;
}
.screen .dl-index .category-list li {
  width: 90px;
  float: left;
  margin-right: 5px;
  overflow: hidden;
}
.screen .dl-index .category-list li a {
  display: block;
  overflow: hidden;
  padding: 0px 0px 0px 15px;
  height: 28px;
  line-height: 28px;
  color: #666;
}
.screen .dl-index .category-list .hot {
  background: none repeat scroll 0% 0% #F00;
  color: #FFF;
  padding: 2px 3px;
  font-size: 10px;
  display: inline-block;
  margin-left: 5px;
  height: 14px;
  line-height: 14px;
}
.screen .dl-index .brands-list {
  width: 190px;
  height: 297px;
  padding: 8px 0;
  background: none repeat scroll 0% 0% #F2F2F2;
}
.screen .dl-index .brands-list li {
  width: 120px;
  float: left;
  margin-right: 5px;
  margin-top: 1px;
  overflow: hidden;
}
.screen .dl-index .brands-list li a {
  display: block;
  overflow: hidden;
  padding: 0px 0px 0px 15px;
  height: 28px;
  line-height: 28px;
  color: #666;
}
.screen .index-banner {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}
.index-foot {
  height: 285px;
  background: none repeat scroll 0% 0% #EEE;
  padding: 20px 0px;
}
.index-foot .screen {
  width: 1150px;
  margin: 0 auto;
}
.index-foot .screen dd {
  width: 370px;
  margin-right: 20px;
  float: left;
  overflow: hidden;
}
.index-foot .screen dd .foot-panel {
  background: none repeat scroll 0% 0% #FFF;
  padding: 20px;
}
.index-foot .screen dd .title {
  text-align: center;
}
.index-foot .screen dd .title .title-line {
  border-bottom: 1px solid #DDD;
  position: absolute;
  top: 9px;
  width: 100%;
  left: 0px;
}
.index-foot .screen dd .title .text {
  position: absolute;
  width: 100%;
  text-align: center;
  left: 0px;
  top: 0px;
}
.index-foot .screen dd .title .text span {
  background: none repeat scroll 0% 0% #FFF;
  font-size: 18px;
  line-height: 18px;
  padding: 0px 10px;
}
.index-foot .screen dd #foot-services ul {
  margin-top: 18px;
  padding-top: 18px;
}
.index-foot .screen dd #foot-services .two-dim {
  height: 131px;
  overflow: hidden;
  margin-right: -10px;
}
.index-foot .screen dd #foot-services .two-dim li {
  border: 1px solid #DDD;
  padding: 7px;
  margin-right: 10px;
}
.index-foot .screen dd #foot-services .two-dim li p {
  text-align: center;
  margin-top: 13px;
  margin-bottom: 3px;
  line-height: 12px;
}
.index-foot .screen dd #foot-services .two-dim img.dim-img {
  width: 87px;
  height: 87px;
}
.index-foot .screen dd .item-nav {
  padding-top: 20px;
}
.index-foot .screen dd .item-nav a {
  color: #999;
  padding: 0px 3px;
  cursor: pointer;
}
.index-foot .screen dd .item-nav a .iconfont {
  font-size: 10px;
  line-height: 10px;
  margin-left: -1px;
  display: inline-block;
}
.index-foot .screen dd.last {
  margin-right: 0px;
}
.footer2013 {
  width: 100%;
  height: 295px;
  background: none repeat scroll 0% 0% #000;
}
.footer2013 .promise {
  padding: 20px 0px 10px;
}
.footer2013 .promise .screen {
  width: 1150px;
  margin: 0 auto;
}
.footer2013 .promise .screen .left {
  margin-right: 60px;
  line-height: 30px;
  font-size: 12px;
  font-weight: bold;
}
.footer2013 .promise .screen .left .iconfont {
  font-size: 24px;
  line-height: 24px;
  margin-right: 5px;
}
.footer2013 .footer-right {
  width: 240px;
}
.footer2013 .subscribe {
  border: 1px solid #262626;
}
.footer2013 .subscribe input {
  width: 180px;
  height: 32px;
  padding: 0px 10px;
  line-height: 32px;
  border: medium none;
  margin: 0px;
  background: none repeat scroll 0% 0% #000;
}
.footer2013 .subscribe input a {
  padding: 0px 10px;
  font-size: 18px;
  line-height: 32px;
  opacity: 0.5;
}
.footer2013 .subscribe .iconfont {
  font-size: 20px;
  margin-top: 8px;
}
.footer2013 .footer-help {
  background: none repeat scroll 0% 0% #000;
  padding: 15px 0px 30px;
}
.footer2013 .footer-help .screen {
  border-top: 1px solid #262626;
  padding: 15px 0px;
  width: 1150px;
  margin: 0 auto;
}
.footer2013 .footer-help .screen ul li {
  width: 180px;
}
.footer2013 .footer-help .screen ul li p span {
  color: #FFF;
  line-height: 24px;
}
.footer2013 .footer-help .screen ul li p a {
  color: #666;
  line-height: 24px;
}
.footer2013 .footer-link {
  background: none repeat scroll 0% 0% #000;
  padding: 30px 0px 30px;
}
.footer2013 .footer-link .screen {
  width: 1150px;
  margin: 0 auto;
}
.footer2013 .footer-link .screen .right-flag {
  margin-top: 3px;
}
.footer2013 .footer-link .screen .right-flag a {
  margin-right: 5px;
}
.footer2013 .footer-link .screen .about-us {
  margin-left: 10px;
  line-height: 20px;
  color: #666;
}
.footer2013 .footer-link .screen .about-us p {
  color: #666;
}
.footer2013 .footer-link .screen .about-us p a {
  color: #666;
}
.footer2013 .footer-link .screen .about-us p span {
  padding: 0px 10px;
}
