<include file="__View__/Common/head"/>

<include file="__View__/Common/left"/>
<div class="right">
	<div class="now">
		<div class="now_l"></div>
		<div class="now_m">
			<span class="fl">增加分类</span>
		</div>
		<div class="now_r"></div>
		<div class="clear"></div>
	</div>
	<form method="post" action="">
	<table width="100%" border="0" cellspacing="0" cellpadding="0" class="wenzhang">
	<tr>
		<td class="bg_f8" align="right" width="100">分类名称：</td>
		<td><input type="text" name="name" class="inputall input200" /></td>
	</tr>
<!-- 	<tr>
		<td class="bg_f8" align="right">上级分类：</td>
		<td>
			<select name="info[category_pid]" class="inputselect">
			<option value="0">===顶级分类===</option>
						<option value="2"  >时尚女装</option>
						<option value="9"  >　 ┝ 上装</option>
						<option value="13"  >　 　　┝ T恤</option>
						<option value="14"  >　 　　┝ 衬衫</option>
						<option value="10"  >　 ┝ 裙装</option>
						<option value="11"  >　 ┝ 下装</option>
						<option value="12"  >　 ┝ 外套</option>
						<option value="3"  >时尚女鞋</option>
						<option value="5"  >　 ┝ 魅力女靴</option>
						<option value="6"  >　 ┝ 时尚单鞋</option>
						<option value="7"  >　 ┝ 休闲帆布</option>
						<option value="8"  >　 ┝ 坡跟鞋</option>
						<option value="4"  >潮流女包</option>
						</select>
		</td>
	</tr> -->
	<tr>
		<td class="bg_f8" align="right">分类排序：</td>
		<td><input type="text" name="sort" value="100" class="inputall input80" /></td>
	</tr>
	<tr>
		<td class="bg_f8">&nbsp;</td>
		<td><button class="tjbtn">提交</button></td>
	</tr>
	</table>
	</form>
</div>
		<div class="clear"></div>
	</div>
<include file="__View__/Common/foot"/>