* {
  margin: 0;
  padding: 0;
  font-family: arial, "Microsoft YaHei";
  font-size: 12px;
  color: #000;
  line-height: 150%;
}
dl,
ul,
li,
ol {
  list-style: outside none none;
  padding: 0px;
  margin: 0px;
}
table {
  border-collapse: collapse;
  border-spacing: 0px;
}
form {
  display: inline;
}
input,
textarea,
select {
  vertical-align: middle;
  font-size: 12px;
  color: #333;
  outline: medium none;
}
input {
  border: medium none;
}
.login-out {
  color: #666;
}
.left {
  float: left;
}
.right {
  float: right;
}
.red {
  color: #E01;
}
.relative {
  position: relative;
}
.rgb6 {
  color: #666;
}
.rgb2 {
  color: #222;
}
.rgbf {
  color: #FFF;
}
.rgb9 {
  color: #999;
}
.top {
  vertical-align: top;
}
.a_eu {
  color: #468fa2;
  text-decoration: underline;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
.clear {
  clear: both;
}
@font-face {
  font-family: 'iconfont';
  src: url('fonts/iconfont.eot');
  src: url('fonts/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('fonts/iconfont.woff') format('woff'), /* chrome、firefox */ url('fonts/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/ url('fonts/iconfont.svg#uxiconfont') format('svg');
  
  /* IE9*/
  /* iOS 4.1- */
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 12px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.header-simple {
  height: 68px;
  margin: 0px 0px 20px;
  border-bottom: 2px solid #222;
}
.header-simple .screen990 {
  width: 990px;
  margin: 0px auto;
}
.header-simple .logo {
  padding: 13px 0px;
}
.header-simple .simple-items {
  padding: 19px 0px;
}
.header-simple .simple-items li {
  padding: 0px 10px;
  height: 28px;
  line-height: 28px;
}
.header-simple .simple-items li .iconfont {
  font-size: 10px;
  color: #000;
}
.cartnew-title {
  width: 990px;
  height: 52px;
  overflow: hidden;
  padding: 20px 0px 0px;
  margin: 0px auto;
}
.cartnew-title h2 {
  height: 32px;
  width: 200px;
  overflow: hidden;
  text-indent: -3000px;
  background: url(../images/cart_logo.gif) no-repeat scroll 0% 0% transparent;
  float: left;
}
.cartnew-title .step1 {
  background-position: 0px 0px;
}
.cartnew-title ul {
  width: 446px;
  height: 30px;
  background: url(../images/cartnew_flow.png) no-repeat scroll right top transparent;
  float: right;
}
.cartnew-title ul li {
  width: 176px;
  height: 30px;
  text-align: center;
  float: left;
}
.cartnew-title ul li span {
  display: block;
  height: 15px;
  padding: 15px 0px 0px;
  line-height: 15px;
  color: #999;
}
.cartnew-title ul li .act {
  background: url(../images/cart_flow_black.gif) no-repeat scroll center top transparent;
  color: #000;
}
.cartnew-title ul .end {
  width: 94px;
  text-align: right;
}
.cartnew_table {
  border-collapse: collapse;
  border: 1px solid #CCC;
  margin-top: -1px;
}
.cartnew-main {
  width: 990px;
  margin: 0px auto;
}
.cartnew-main .cartnew-tips {
  width: 990px;
  height: auto;
  min-height: 25px;
  margin: 0px auto 5px;
}
.cartnew-main .cartnew-tips .tipsbox {
  width: 648px;
  height: 23px;
  line-height: 18px;
  padding: 4px 5px 4px 10px;
  color: #666;
  background: url(../images/cartnew_tipsbox.png) no-repeat scroll 0% 0% transparent;
  position: relative;
  float: left;
}
.cartnew-main .cartnew-tips .tipsbox .btn_close {
  width: 17px;
  height: 17px;
  padding: 0px;
  background: url(../images/i_close_f.png) no-repeat scroll 0% 0% transparent;
  float: right;
  cursor: pointer;
}
.cartnew-main .cartnew-tips .tipsbox strong {
  color: #000;
}
.cartnew-main .cartnew_table {
  width: 100%;
  margin-top: 10px;
  margin-bottom: -5px;
  border: medium none;
}
.cartnew-main .cartnew_table tbody tr th {
  height: 32px;
  background: none repeat scroll 0% 0% #000;
  color: #FFF;
  vertical-align: middle;
  text-align: center;
}
.cartnew-main .cartnew_table tbody tr .th1 {
  width: 344px;
  padding: 0px;
}
.cartnew-main .cartnew_table tbody tr .th2 {
  width: 120px;
  padding: 0px;
}
.cartnew-main .cartnew_table tbody tr .th3 {
  width: 116px;
  padding: 0px;
}
.cartnew-main .cartnew_table tbody tr .th4 {
  width: 120px;
  padding: 0px;
}
.cartnew-main .cartnew_table tbody tr .th5 {
  width: 100px;
  padding: 0px;
}
.cartnew-main .cartnew_table tbody tr .th6 {
  width: 188px;
  padding: 0px;
}
.cartnew-main .cartnew_table tbody tr td {
  border: 1px solid #CCC;
  padding: 10px;
  text-align: center;
}
.cartnew-main .cartnew_table tbody tr td .btn_type5 {
  display: inline-block;
  height: 35px;
  background: url(../images/icons02.png) no-repeat scroll 0px -84px transparent;
  padding: 0px 0px 0px 2px;
  overflow: hidden;
}
.cartnew-main .cartnew_table tbody tr td .btn_type5 a {
  display: inline-block;
  height: 35px;
  line-height: 32px;
  padding: 0px 20px;
  background: url(../images/icons02.png) no-repeat scroll right -84px transparent;
  border: medium none;
  overflow: visible;
  cursor: pointer;
  margin: 0px;
  color: #666;
}
.cartnew-main .cartnew_table tbody tr .cart-empty {
  border: none !important;
  padding: 100px 0 !important;
  background: url(../images/cart_empty.gif) no-repeat 200px 56px;
  padding-left: 260px !important;
}
.cartnew-main .cart_pre_sale tr {
  border: 1px solid #F7D373;
}
.cartnew-main .cart_pre_sale tr td {
  border-top: 0px none;
}
.cartnew-main .cart_common_goods tr th {
  height: 32px;
  background: none repeat scroll 0% 0% #fff;
  color: #FFF;
  vertical-align: middle;
  text-align: center;
}
.cartnew-main .cart_common_goods tr td a.btn_h {
  height: 22px;
  background: url(../images/btn_hs.png) no-repeat scroll left 0px transparent;
  padding-left: 8px;
  display: inline-block;
}
.cartnew-main .cart_common_goods tr td a.btn_h span {
  height: 22px;
  line-height: 21px;
  background: url(../images/btn_hs.png) no-repeat scroll right 0px transparent;
  padding-right: 10px;
  display: inline-block;
  cursor: pointer;
  color: #666;
}
.cartnew-main .cart_common_goods tr td .cartnew-img {
  width: 308px;
}
.cartnew-main .cart_common_goods tr td .cartnew-img input {
  float: left;
  margin: 25px 15px 0px;
}
.cartnew-main .cart_common_goods tr td .cartnew-img img {
  float: left;
  margin-right: 10px;
  display: inline;
  width: 60px;
}
.cartnew-main .cart_common_goods tr td .cartnew-img p {
  float: left;
  padding-top: 15px;
  text-align: left;
  width: 195px;
}
.cartnew-main .cart_common_goods tr td .cartnew-img .amount_wrapper {
  width: 70px;
  height: 20px;
  display: inline-block;
}
.cartnew-main .cart_common_goods tr td .cartnew-img .amount_wrapper .amount_cut {
  width: 11px;
  height: 11px;
  margin: 5px 5px 0px 0px;
  display: inline;
  background: url(../images/ico_jj.png) no-repeat scroll 0px 0px transparent;
  overflow: hidden;
  cursor: pointer;
  border: 0px none;
  float: left;
}
.cartnew-main .cart_common_goods tr td .cartnew-img .amount_wrapper .amount_add {
  width: 11px;
  height: 11px;
  margin: 5px 0px 0px 5px;
  display: inline;
  background: url(../images/ico_jj.png) no-repeat scroll -11px 0px transparent;
  overflow: hidden;
  cursor: pointer;
  border: 0px none;
  float: left;
}
.cartnew-main .cart_common_goods tr td .cartnew-img .amount_wrapper input {
  width: 35px;
  height: 18px;
  line-height: 18px;
  border: 1px solid #C4C4C4;
  text-align: center;
  overflow: hidden;
  float: left;
}
.cartnew-main .cartnew-sum {
  background: none repeat scroll 0% 0% #EFEFEF;
  border: 1px solid #CCC;
  padding: 10px;
  height: 50px;
  margin-bottom: 10px;
}
.cartnew-main .cartnew-sum .batch_div span {
  color: #333;
}
.cartnew-main .cartnew-sum .batch_div input {
  margin-right: 5px;
}
.cartnew-main .cartnew-sum .batch_div a {
  color: #333;
  margin-left: 20px;
}
.cartnew-main .cartnew-sum .right {
  text-align: right;
  float: right;
}
.cartnew-main .cartnew-sum .right p strong {
  color: #E8044F;
  font-size: 18px;
}
.cartnew-main .cartnew-sum .right .sum {
  color: #333;
  font-weight: bold;
  padding-bottom: 5px;
}
.cartnew-main .cartnew-submit {
  padding: 10px 0px 40px;
  text-align: right;
  position: relative;
}
.cartnew-main .cartnew-submit a,
.cartnew-main .cartnew-submit input {
  vertical-align: middle;
}
.cartnew-main .cartnew-submit .btn_continue {
  float: left;
  width: 60px;
  height: 33px;
  padding: 0px 0px 0px 33px;
  text-align: left;
  border: 0px none;
  line-height: 33px;
  font-size: 14px;
  color: #333;
  font-weight: bold;
  background: url(../images/btns.png) no-repeat scroll 0px 0px transparent;
  display: inline-block;
  cursor: pointer;
}
.cartnew-main .cartnew-submit .btn_account {
  width: 133px;
  height: 33px;
  padding: 0px;
  text-align: center;
  border: 0px none;
  line-height: 33px;
  font-size: 14px;
  color: #FFF;
  font-weight: bold;
  background: url(../images/btns.png) no-repeat scroll 0px -33px transparent;
  display: inline-block;
  cursor: pointer;
}
.cartnew-main .cartnew-goodslist {
  border: 1px solid #CCC;
  margin-bottom: 10px;
}
.cartnew-main .cartnew-goodslist .title {
  height: 20px;
  padding: 8px 10px;
  background: none repeat scroll 0% 0% #EFEFEF;
}
.cartnew-main .cartnew-goodslist h2 {
  height: 20px;
  line-height: 20px;
  background: url(../images/i_-.png) no-repeat scroll 0px 2px transparent;
  font-size: 12px;
  padding: 0px 0px 0px 20px;
  float: left;
  cursor: pointer;
}
.cartnew-main .cartnew-goodslist .main {
  height: 230px;
  border-top: 1px solid #E3E3E3;
}
.cartnew-main .cartnew-goodslist .main ul li {
  width: 163px;
  height: 230px;
  border-right: 1px solid #E3E3E3;
  float: left;
}
.cartnew-main .cartnew-goodslist .main ul li .list {
  width: 100px;
  padding: 10px 0px 0px;
  margin: 0px auto;
}
.cartnew-main .cartnew-goodslist .main ul li .list .thumb {
  height: 110px;
}
.cartnew-main .cartnew-goodslist .main ul li .list .name {
  height: 35px;
  overflow: hidden;
}
.cartnew-main .cartnew-goodslist .main ul li .list .name a {
  color: #333;
  text-decoration: underline;
}
.cartnew-main .cartnew-goodslist .main ul li .list .name a h3 {
  height: 30px;
  line-height: 15px;
  font-size: 12px;
  font-weight: normal;
  color: #333;
  cursor: pointer;
  overflow: hidden;
}
.cartnew-main .cartnew-goodslist .main ul li .list .price {
  color: #333;
  height: 25px;
  line-height: 15px;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
}
.cartnew-main .cartnew-goodslist .main ul li .list .price del {
  color: #999;
}
.cartnew-main .cartnew-goodslist .main ul li .list .op {
  text-align: center;
  padding: 0px 0px 5px;
}
.cartnew-main .cartnew-goodslist .main ul li .list .op .btn_view_s {
  width: 100px;
  height: 22px;
  background: url(../images/btn_view_s.png) no-repeat scroll 0% 0% transparent;
  display: inline-block;
  border: 0px none;
}
.cartnew-main .cartnew-goodslist .main ul .end {
  border: 0px none;
}
.cartnew-main .cartnew-goodslist {
  border: 1px solid #CCC;
  margin-bottom: 10px;
}
.footer2013 {
  width: 100%;
  height: 295px;
  background: none repeat scroll 0% 0% #000;
}
.footer2013 .promise {
  padding: 20px 0px 10px;
}
.footer2013 .promise .screen {
  width: 1150px;
  margin: 0 auto;
}
.footer2013 .promise .screen .left {
  margin-right: 60px;
  line-height: 30px;
  font-size: 12px;
  font-weight: bold;
}
.footer2013 .promise .screen .left .iconfont {
  font-size: 24px;
  line-height: 24px;
  margin-right: 5px;
}
.footer2013 .footer-right {
  width: 240px;
}
.footer2013 .subscribe {
  border: 1px solid #262626;
}
.footer2013 .subscribe input {
  width: 180px;
  height: 32px;
  padding: 0px 10px;
  line-height: 32px;
  border: medium none;
  margin: 0px;
  background: none repeat scroll 0% 0% #000;
}
.footer2013 .subscribe input a {
  padding: 0px 10px;
  font-size: 18px;
  line-height: 32px;
  opacity: 0.5;
}
.footer2013 .subscribe .iconfont {
  font-size: 20px;
  margin-top: 8px;
}
.footer2013 .footer-help {
  background: none repeat scroll 0% 0% #000;
  padding: 15px 0px 30px;
}
.footer2013 .footer-help .screen {
  border-top: 1px solid #262626;
  padding: 15px 0px;
  width: 1150px;
  margin: 0 auto;
}
.footer2013 .footer-help .screen ul li {
  width: 180px;
}
.footer2013 .footer-help .screen ul li p span {
  color: #FFF;
  line-height: 24px;
}
.footer2013 .footer-help .screen ul li p a {
  color: #666;
  line-height: 24px;
}
.footer2013 .footer-link {
  background: none repeat scroll 0% 0% #000;
  padding: 30px 0px 30px;
}
.footer2013 .footer-link .screen {
  width: 1150px;
  margin: 0 auto;
}
.footer2013 .footer-link .screen .right-flag {
  margin-top: 3px;
}
.footer2013 .footer-link .screen .right-flag a {
  margin-right: 5px;
}
.footer2013 .footer-link .screen .about-us {
  margin-left: 10px;
  line-height: 20px;
  color: #666;
}
.footer2013 .footer-link .screen .about-us p {
  color: #666;
}
.footer2013 .footer-link .screen .about-us p a {
  color: #666;
}
.footer2013 .footer-link .screen .about-us p span {
  padding: 0px 10px;
}
