</head>
<body>
<!-- 头部开始 -->
<div class="header-simple">
  <div class="screen990">
	<div class="clear">
		<div class="left logo">
			<a href=""><img src="__PUBLIC__/images/logo-boys-8.png"></a>
		</div>
		<div class="right">
			<ul class="simple-items clear">
				<li class="left"><span class="item"><a href="" class="rgb2">帮助中心</a></span></li>
				<li class="left"><span class="rgb2 item"><span class="iconfont">&#xe604;</span>&nbsp;<strong>400-889-9646</strong></span></li>
			</ul>
		</div>
	</div>
  </div>
</div>
<!-- 头部结束 -->